[submodule "GPUJPEG"]
	path = GPUJPEG
	url = https://github.com/CESNET/GPUJPEG.git
[submodule "CppLinuxSerial"]
	path = CppLinuxSerial
	url = https://github.com/gbmhunter/CppLinuxSerial.git
[submodule "serial"]
	path = serial
	url = https://github.com/melonedo/serial.git
